#!/usr/bin/make -f

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install

	install -Dm644 data/smilemplayer.desktop \
		debian/smilemplayer/usr/share/applications/smilemplayer.desktop

	install -Dm644 data/icons/smilemplayer.png \
		debian/smilemplayer/usr/share/icons/hicolor/256x256/apps/smilemplayer.png

	install -Dm644 data/metainfo/io.github.SmileLulz.SmileMPlayer.metainfo.xml \
		debian/smilemplayer/usr/share/metainfo/io.github.SmileLulz.SmileMPlayer.metainfo.xml

	install -Dm644 LICENSE \
		debian/smilemplayer/usr/share/doc/smilemplayer/LICENSE

override_dh_auto_clean:
	dh_auto_clean
	rm -rf dist build *.egg-info
