[Desktop Entry]
Name=SmileMPlayer
Comment=Simple local music player
Exec=smilemplayer
Icon=smilemplayer
Terminal=false
Type=Application
Categories=AudioVideo;Player;
MimeType=audio/mpeg;audio/flac;audio/ogg;audio/opus;audio/x-m4a;audio/aac;audio/wav;
