[Desktop Entry]
Name=SmileMPlayer
Comment=Simple local music player
Exec=smilemplayer
Icon=smilemplayer
Terminal=false
Type=Application
Categories=AudioVideo;Player;
